body {
    background-color: #4c5fa4;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    color: white;
}

.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
}